<div class="container">
 <table class="table table-striped table-condensed">

  <tr>
   <th>Status</th>
   <th>Task</th>
   <th>Due Date</th>
   <th>Details</th>
   <th>Edits</th>
   <th>Delete</th>
  </tr>

 <% @lists.each do |list| %>
   <tr>
     <td><input type="checkbox"></td>
     <td><%= list.name %></td>
     <td><%= list.duedate %></td>
     <td><%= link_to  'Show', list_path(list) %></td>
     <td><%= link_to 'Edit', edit_list_path(list) %></td>
     <td><%= link_to 'Destroy', list_path(list), method: :delete, data:{ confirm: "Are you sure?" } %></td>
   </tr>
 <% end %>
 </table>

<%= link_to 'New List', new_list_path %>
